:root{
    --darkblue:rgb(1, 3, 68);
    --darkred:rgb(80, 2, 2);
    --darkgreen:rgb(2, 55, 6);
    --backimg:linear-gradient(to bottom, var(--darkblue),var(--darkred));
}
*{
    padding:0px;
    margin: 0px;
    font-family:monospace;
}
.background{
    background-image:var(--backimg);
    position: absolute;
    height: 200%;
    width: 100vw;
}
header{
    position: relative;
    background-color: transparent;
    width:80vw;
    height:60vh;
    border-radius: 5vw;
    margin-left: auto;
    margin-right:auto;
    box-shadow: 5px 5px 5px black;
}
header h1{
    position: absolute;
    left:50%;
    top: 20%;
    transform: translateX(-50%);
    font-size: 7vh;
}
header p#writer{
    position: absolute;
    top:40%;
    left:10%;
    font-size: 3vh;
    font-weight: bold;
}
.mainList{
   list-style-position: inside;
}
ul .domainList{
    list-style-position: inside;
    list-style-type: square;
    text-indent: 5%;
    font-size: initial;
}
p.writer_details
{
    position: absolute;
    top:50%;
    left:8%;
    width:20%;
    font-size: 2vh;
    padding-left: 2vw;
    padding-right: 2vh;
    padding-top:1vh;
    padding-bottom:1vh;
    border-radius: 1vh;
}
div.writer_details:hover{
    background-image: linear-gradient(to right top, lightgreen,lightyellow);
}
nav{
    position: absolute;
    right: 10%;
    top:30%;
    background-color: transparent;
    padding:1vh 2vw 4vh 2vw;
    align-items: center;
    border-radius: 2vw;
    box-shadow:5px 5px 5px black;
}
ul{
    list-style: none;
}
nav li{
    margin-top: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: center;
    border-radius: 2vw;
    font-weight: 700rgb(1, 3, 68),rgb(80, 2, 2);
    font-size: 130%;
    box-shadow: 5px 5px 5px black;
}
nav li:hover{
    box-shadow: -3px -3px 4px black;
    cursor: pointer;
}
header input[type="search"]{
    position: absolute;
    background-color: transparent;
    box-shadow: 5px 5px 5px black;
    height: 3vh;
    border:1px;
    border-color:var(--darkblue);
    width: 15vw;
    right:10vw;
    top: 5vh;
    border:0%;
    border-radius: 1vw;
    color: white;
}
header input[type="search"]:hover
{
    box-shadow: -3px -3px 3px black;
}
li a{
    text-decoration: none;
    color:black;
}